<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @message.message %>
</p>

<p>
  <strong>Name:</strong>
  <%= @message.name %>
</p>

<<<<<<< HEAD
<p>
  <strong>Age:</strong>
  <%= @message.age %>
</p>

=======
>>>>>>> 668d2967bf0ae6cb38d297e1f2bed344c41e5ec6
<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
